[submodule "third-party/null-input"]
	path = third-party/null-input
	url = https://github.com/nullptr-sources/null-input
[submodule "third-party/stb"]
	path = third-party/stb
	url = https://github.com/nothings/stb
[submodule "third-party/null-mono"]
	path = third-party/null-mono
	url = https://github.com/nullptr-sources/null-mono
